*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.headline {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}
/* .entry {
  text-align: center;
} */

h4 {
  position: relative;
  top: 45px;
  margin-left: 500px;
}
input {
  width: 200px;
  height: 28px;
  border: 2px solid black;
  margin: 0px 0 0 745px;
}
