*,
*::before,
::after {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.main {
  display: flex;
}

/* left side container */

.first {
  width: 50vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  flex-direction: column;
}

.headline {
  display: flex;
  justify-content: center;
  margin-bottom: 10%;
}
.entry-detials div,
h4 {
  display: flex;
  justify-content: space-around;
}
.entry-detials div {
  margin-top: 10px;
}
/* .entry {
  text-align: center;
} */
.entry-detials {
  margin-bottom: 10%;
}
.entry-input {
  height: 35px;
}

#entry-input__name {
  margin-left: 10px;
}

.btn {
  display: flex;
  justify-content: center;
}
.btn button {
  width: 180px;
  height: 40px;
}

/* right side container */

.second {
  width: 50vw;
  height: 100vh;
  background-color: yellowgreen;
}
